
<div class="container">

  <div class="well">
    <div class="page-header">
      <h1>Snappcar Address Autocomplete</h1>
    </div>

    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-10">
          <select [ngModel]="country" (ngModelChange)="country = $event; address = null;" class="form-control">
            <option value="NL">Nederland</option>
            <option value="SE">Zweden</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="input-address" class="control-label col-md-2">Waar wil je heen?</label>
        <div class="col-md-10">
          <address-autocomplete [country]="country" [placeholder]="'Snappie laan 4'" [address]="address" (onAddress)="address = $event"></address-autocomplete>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container" *ngIf="address">
    <div class="well">
        <h1 >
          {{address.street}} {{address.houseNumber}}<br>
          {{address.postalCode}} {{address.city}}<br>
          {{address.country}}
        </h1>
    </div>
</div>
